header {
    background-color: #020000;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 3px;
}

body {
    margin: 0;

}




.nav,
a {
    color: #daa76f;
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
    padding-left: 20px;
    margin-right: 10px;
}


.nav {
    padding-right: 50px;
}

.nav,
a:hover {
    color: #8a6033;

}



/* menu */

.menu {
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f0d6;
    background-position: right right;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    text-align: center;
}



#titleM {
    color: rgb(41, 91, 67);
    font-size: 2em;
    font-weight: 500;
    position: fixed;
    top: 10%;
    left: 38%;
    justify-content: center;
    position: absolute;

}

.buttons {

    margin-top: 20px;
    justify-content: center;
    display: flex;
    position: absolute;
    align-items: center;
    left: 38%;
    top: 17%;
}

button {
    display: inline-block;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #556d3b;
    font-style: oblique;
    height: 40px;
    width: 90px;
    margin: 0 2px;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #cec69f;
    outline: none;
    color: rgb(41, 91, 67);

}

button:hover {
    box-shadow: inset 90px 0 0 0 #cec69f;

}

.selectedB {
    background-color: #c9e8a8;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 12%;
}

.items {
    background-color: transparent;
    border: 5px solid transparent;
    width: 15em;
    box-shadow: 0 5px 25px black;
    border-radius: 15px;
    padding: 5px;
    margin: 50px;
    min-height: 10em;
    animation: backInLeft;
    animation-duration: 2s;
}

.itemsweek1 {
    background-color: transparent;
    border: 5px solid transparent;
    width: 15em;
    box-shadow: 0 5px 25px black;
    border-radius: 15px;
    padding: 5px;
    margin: 50px;
    min-height: 10em;
    animation: backInLeft;
    animation-duration: 2s;
}

.itemsweek2 {
    background-color: transparent;
    border: 5px solid transparent;
    width: 15em;
    box-shadow: 0 5px 25px black;
    border-radius: 15px;
    padding: 5px;
    margin: 50px;
    min-height: 10em;
    animation: backInLeft;
    animation-duration: 2s;
}

.items:hover {
    transform: scale(1.1);
}

.item,
img {
    width: 100%;
    height: auto;


}

.items,
h3 {
    color: #556d3b;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: #f5f0d6;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    color: #aaa;
}



#Ingredientimg {
    width: 45px;
    height: 45px;
    justify-content: space-evenly;
}


.modal-content.ingredients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.modal-content.ingredients,
span.ing {
    display: inline-block;
    text-align: center;
    margin: 20px;
}


.ingredients,
p {
    color: #637c49;
}

ul {
    list-style: circle;
}

li {
    color: #637c49;
}

#duration {
    color: #637c49;
    left: 0;
    justify-content: left;
    display: flex;
}


.rating {
    margin-top: 10px;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color: gray;
    display: inline-flex;
}

.star.selected {
    color: gold;
    border: none;

}

.logoH {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.logoI {
    width: 35px;
    height: 35px;
    margin-left: 20px;

}

.logoText {

    color: #daa76f;
    font-weight: 700;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    margin-top: 8px;
}

.utensList {
    display: flex;

    flex-wrap: wrap;
}

.utensList,
li {
    margin-right: 45px;
    margin-bottom: 10px;
}


td,th {
padding-right: 19px;
padding-bottom: 19px;
padding-left: 19px;
text-align: left;
width: 80%;
}

tr:nth-child(even) {background-color: #dad4ba;

}