
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(244, 240, 217);
    font-family: Roboto;
    height: 3000px;
}
.banner {
    width: 100%;
    height: 100vh;
 background-color: #f5f0d6;
    background-size: cover;
    background-position: center;
  }
.firstcard{
    margin-top: -600px;
    box-shadow: 6px 1px 10px rgb(90, 108, 65) ;
   margin-left: 750px;
    width: 430px; /* Adjust width as needed */
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    justify-content: center;
   
  background-size: cover;
    background-image: url(recipepic.jpg) ;
    height: 600px; /* Adjust height as needed */
    background-color: #ffcb94; /* Adjust background color as needed */
    
}
.secondcard{
    justify-content: center;
    margin-left: 280px;
   
}
.thirdcard{
    justify-content: center;
    margin-left:-190px;
}

.clippart {
    position: relative;
    opacity: 5%; 
 justify-content: center;
 align-items: center;
 margin-top: -550px;
}
 .first-page h1 {
   
    position: absolute;
    top:55%;
 margin-left: 50px;
   justify-content: center;
   font-size: 2.2em;
   font-family: Georgia, 'Times New Roman', Times, serif;
  
    z-index: 1; /* Ensure the <h1> is above the image */
}
.first{
    font-size: 1.2em;
    color: #022515;
    justify-content: space-around;
}
.nav-bar {
    position: fixed;
    width: 85%;
    margin: auto;
    margin-left: 70px;
    color: rgb(90, 108, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 55px;
}

.name {
    margin-left: 15px;
    font-size: 27px;
    font-family: Pacifico;
}

a {
    text-decoration: none;
    color:rgb(90, 108, 65);
    font-family: Roboto;
}

.banner ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.banner ul li a {
    text-decoration: none;
    color: rgb(90, 108, 65);
    text-transform: uppercase;
}

.banner ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: rgb(90, 108, 65);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
  
.banner ul li:hover::after {
    width: 100%;
    
}

.dropdown {
    position: relative;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
    padding: 0;
}

.dropdown-content li {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 35px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 300;
    line-height: 25px;
}
.buttons{
    margin-left: 40px;
    margin-top:-150px;
}
.login-btn,
.signup-btn {
    z-index: 999;
    width: 200px;
    padding: 15px 0;
    
    text-align: center;
    
    margin:0 auto; /* Center the buttons horizontally */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fbb262;
    background: transparent;
    color: #fbb262;
    cursor: pointer;
    position: relative;
    display: inline; /* Make the buttons block-level elements */
}

/* CSS for the cover span */
.cover {
    background: #fbb262;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

/* CSS for the hover effect */
button:hover .cover {
  
    width: 100%;
}

button:hover {
    color: white;
    border: none;
}
body {
    background-color: #f5f0d6;
}

.half-circle {
    justify-content: center;
    align-items: center;
    
    width: 1100px; /* Adjust the width of the half circle */
    height: 800px; /* Adjust the height of the half circle */
    border-bottom-left-radius: 800px; /* Adjust the border radius to create the half-circle */
    border-bottom-right-radius: 800px; /* Adjust the border radius to create the half-circle */
    border: 135px solid transparent; /* Set initial border color to transparent */
    border-top: none; /* Remove the top border */
    background-color: transparent; /* Sets the background color to transparent */
    transform: rotate(365deg) translate(-50%, -50%); /* Adjust the position */
    position: absolute;
    top: 100%; /* Position below the content */
    left: 25%;
    margin-top: 100px; /* Adjust the margin to control the distance from the content */
    z-index: 1; /* Ensure the half-circle is behind the content */
    animation: colorChange 10s infinite; /* Apply the animation */
}
.first-page {
    width: 100%;
    position: relative;
    z-index: 2; /* Ensure the first-page components are above the half circle */
}
@keyframes colorChange {
    0%, 100% {
        border-color: #ffbf7b; /* Set the initial color */
    }
    50% {
        border-color: #ffca91; /* Set the alternate color */
    }
}

@keyframes moveImage1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-50%) translateX(-600px);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg) translateY(-50%) translateX(-300px);
    }
    100% {
        transform: translate(-60%, -50%) rotate(360deg) translateY(-50%) translateX(-300px);
    }
}

@keyframes moveImage2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-50%) translateX(-600px);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg) translateY(-65%) translateX(-300px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-65%) translateX(-300px);
    }
}


.moving-image {
    
    position: absolute;
    width: 690px;
height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation-duration: 20s; /* Double the duration to match both animations */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 1; /* Make the image visible */
}

.moving-image:nth-child(odd) {
    animation-name: moveImage1;
}

.moving-image:nth-child(even) {
    animation-name: moveImage2;
    animation-delay: -10s; /* Start the second animation immediately after the first one */
}
.parag {
    justify-content: center;
    display: flex;
    align-items: center;
}

.parag h1 {
    margin-top: 500px;
    margin-left: 800px; /* Adjust as needed */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

.icon-container {
    margin-left: 30px; /* Adjust as needed */
    font-size: 5em;
    margin-top: 490px;
    color: rgb(90, 108, 65);
    text-shadow: 2px 6px 6px rgb(172, 172, 172);
}

.subtext {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0px; /* Adjust as needed */
    margin-left:860px; /*Adjust as needed */
}
.secondpage {
    background-color: #f5f0d6; /* Set the background color for the second page */
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 
}

.dish4 {
    z-index: 999;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    animation: rotateDish3 10s linear infinite;
    /* Adjust margins as needed to position the image */
  left: 700px;
    margin-top: 350px;
}

.cards {
    display: flex;
   margin-left: 110px;
   margin-top: 0px;
    justify-content: center;
}

.card {
    box-shadow: 6px 1px 10px rgb(90, 108, 65) ;
    position: relative;
    width: 160px; /* Adjust width as needed */
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    height: 240px; /* Adjust height as needed */
    background-color: #ffcb94; /* Adjust background color as needed */
    right: 30px; /* Adjust spacing between cards */
    margin-top: 200px;
    margin-right: 30px;
     transition: transform 0.5s;
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
}
.small-dish {
    object-fit: contain; /* Maintain aspect ratio */
    position: absolute;
    height: auto;
    top: -50px; /* Adjust to center the small dish vertically */
    left: 50%; /* Align the small dish to the horizontal center of the card */
    transform: translateX(-50%); /* Center the small dish horizontally */
    width: 120px; /* Adjust width as needed */
   /* Adjust height as needed */
    /* No hover effect here */
}


@keyframes rotateDish3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



