#background{
  background-color: #556d3b;
  height: 4000px;
}

/*Search bar styling*/
#search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-bar {
  padding: 10px;
  margin-right: -4px;
  background-color: #f5f0d6;
  border: none;
  border-radius: 100px 0 0 100px;
  outline: none;
  width: 600px;
  height: 30px;
}
#search-btn {
  padding: 10px 20px;
  margin-left: -4px;
  background-color: #f5f0d6;
  color: 556d3b;
  border: none;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
  outline: none;
  height: 50px;
}
#search-btn:hover {
  background-color: #e1dab8;
}

/*Navigation bar*/
.nav-bar {
  width: 85%;
  margin: auto;
  color: #f5f0d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
}

.name {
  margin-left: 15px;
  font-size: 27px;
  font-family: Pacifico;
}

a {
  text-decoration: none;
  color: #556d3b;
  font-family: Roboto;
}

.banner ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.banner ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.banner ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #f5f0d6;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.banner ul li:hover::after {
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 120px;
  z-index: 1000;
  list-style: none;
  padding: 0;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 35px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 300;
  line-height: 25px;
}

button:hover .cover {
  width: 100%;
}

button:hover {
  border: none;
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)),
   url(../images/background.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
  display: none;
  z-index: 999;
}

/* Feedback Icon */
#feedbackIcon {
  position: fixed;
  top: 200px;
  right: 0px;
  width: 35px;
  height: 100px;
  cursor: pointer;
}

/* Feedback Content */
#feedbackContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #f5f0d6;
  border: 1px solid #f5f0d6;
  border-radius: 10px;
  padding: 80px 60px 60px 60px;
  width: 300px;
  max-width: 90%; /* Ensures the content is not wider than the viewport */
  text-align: center;
}

/* Text Area */
#textArea {
  height: 80px;
  width: 100%; /* Fill the available width */
  max-width: 100%; /* Ensure the textarea doesn't exceed its container */
  resize: vertical; /* Allow vertical resizing */
}

/* Feedback Form */
#feedback {
  display: none;
  background-color: #f5f0d6; /* Light red background color */
  padding: 10px;
  border-radius: 5px;
}

/* Exit Button */
.exit {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  border: none;
  background-color: #f5f0d6; /* Semi-transparent white background */ 
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-weight: bold;
  color: black;

}


/*Meals headings and sub-headings*/

.heading{
  color: #020000;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-style: oblique;
  font-weight: bold;
  padding: 20px 20px;
  margin: 5px 230px;
}
.sub-heading{
  color:#f5f0d6;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-style: oblique;
  font-weight: bold;
}
.sentence{
  margin-top: 70px;
  margin-bottom: 10px;
  color:#020000;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  font-weight: bold;
  margin-left:220px;
}
.sub-sentence{
  color: #020000;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  font-weight: bold;
  margin-left:220px;
}