/* Background */
#background {
  background-color: #f7f7f7;
  height: 100vh;
}

/* Search bar styling */
#search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.search-form {
  display: flex;
  align-items: center;
}

#search-bar {
  padding: 12px;
  margin-right: -4px;
  background-color: #fff;
  border: 2px solid #f19f13;
  border-radius: 50px;
  outline: none;
  width: 600px;
  height: 45px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#search-bar:focus {
  border-color: #da8c10;
}

#search-btn {
  padding: 12px 30px;
  margin-left: -4px;
  background-color: #f19f13;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

#search-btn:hover {
  background-color: #da8c10;
}

.error {
  color: red;
  font-size: 90%;
  max-width: 800px;
  text-align: end;


}

/* Navigation bar */
.nav-bar {
  width: 85%;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
}

.name {
  margin-left: 15px;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)),
    url(../images/background.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
}

.banner ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.banner ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.banner ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #f19f13;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transition: width 0.3s ease, left 0.3s ease;
}

.banner ul li:hover::after {
  width: 100%;
  left: 0;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #81d0e8e3;
  min-width: 120px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content li {
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Content */
.content {
  width: 100%;
  text-align: center;
  color: #000;
}

.content h1 {
  font-size: 35px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.content p {
  margin: 20px auto;
  font-weight: 300;
  line-height: 1.6;
}

/* Feedback Icon */
#feedbackIcon {
  position: fixed;
  top: 300px;
  right: 0px;
  width: 35px;
  height: 100px;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}


/* Feedback Content */
#feedbackContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 80px 60px 60px 60px;
  width: 300px;
  max-width: 90%;
  text-align: center;
}

#textArea {
  height: 80px;
  width: 100%;
  max-width: 100%;
  resize: none;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}

#feedback {
  display: none;
  margin-top: 20px;
}

/* Exit Button */
.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-weight: bold;
  color: #666;
  transition: color 0.3s ease;
}

.exit:hover {
  color: red;
  font-weight: bold;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.choice {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #f19f13;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.choice:hover {
  color: #ffffff;
  background-color: #f1a013a9;
  border-color: #f19f13;
}

.choice span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 30px;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.choice:hover span {
  transform: scale(1.1);
  opacity: 1;
}

#submit-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #71a1d1;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-btn:hover {
  background-color: #31d42b;
}

/* Meals headings and sub-headings */
.heading {
  color: #f19f13;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

.sub-heading {
  color: #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sentence {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 13%;
  color: #f19f13;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.sub-sentence {
  color: #000;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 14%;
}

.Descprition {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-left: 28%;
  padding-top: 2%;
  padding-bottom: 2%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay-container {
  background-color: #fff;
  margin: 0px;
  padding: 0px 20px 20px 20px;
  border-radius: 20px;
  max-width: 600px;
}

.overlay-container h3 {
  font-family: sans-serif;
  max-width: 270px;
  padding: 5px;
}

.overlay-container img {
  max-width: 100%;
  padding-top: 10px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

/* Close button */
.close {
  color: #666;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
}

 /* Instruction*/
.instruction {
  margin-top: 20px;
}

.instruction h3 {
  margin-bottom: 10px;
} 

.components1,
.components2 {
  margin-top: 20px;
}

.components1,
.components2 h3 {
  margin-bottom: 10px;
}

.components1,.components2 .elements {
  margin-bottom: 5px;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.amount p {
  margin-right: 10px;
  font-weight: bold;
  font-size: larger;
}

.servings {
  background-color: #81d0e8;
  border: none;
  color: #020000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 0;
  cursor: pointer;
  height: 40px;
}
.servings-div .servings.active{
  background-color: #f7f7f7;
  color:#020000;
}

.servings:hover {
  background-color: #167592;
  color: #f7f7f7;
}

.elements p {
  text-align: center;
}
