/*Favorite button*/
.heart-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: medium;
  padding: 0;
  margin-top: 0px;
  margin-left: 5px;
}
.fa-heart {
  color: #f7f7f7;
}

.fa-heart.favorited {
  color: red;
}
.heart-button:hover .fa-heart {
  color: red;
}

/*Meals Styles in the favorites*/
#favorite-container {
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  max-width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  font-family: sans-serif;
  font-size: x-large;
}

#favorite-container .menu-item {
  background-color: #81d0e8cc;
  padding: 20px;
  border-radius: 100px 100px 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 10px;
  max-width: 300px;
  transition: background-color 0.3s ease;
  list-style: none;
  align-items: center;
  justify-content: center;
}
#favorite-container .menu-item h4 {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: medium;
}
#favorite-container .menu-item h4:hover {
  cursor: auto;
  color: #f7f7f7;
}

#favorite-container .menu-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

#favorite-container .menu-item:hover img {
  transform: scale(1.1);
}

#favorite-container .menu-item:hover {
  background-color: #f19f13;
  color: #f4faf7;
}

#favorite-container .heart-button {
  display: none;
}
#favorite-container div {
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
#favorite-container .remove-button {
  border-radius: 20px;
  padding: 10px;
  background-color: #f19f13;
  border: none;
  margin: 0px 10px 0px 10px;
}
#favorite-container .remove-button:hover {
  cursor: pointer;
  background-color: red;
  transition: all 0.2s ease;
  color: #f7f7f7;
}

#favorite-container .empty-container {
  align-items: center;
}
#favorite-container .empty-container p {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.redirect-button {
  margin-top: 20px;
  background-color: transparent;
  border: none;
}
.redirect-button a {
  font-family: "Poppins", sans-serif;
  font-size: large;
  padding: 10px 20px;
  background-color: #f19f13;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.redirect-button a:hover {
  cursor: pointer;
  background-color: #81d0e8;
}


/*Notification styling*/
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(100%);
    opacity: 0;
  }
  
  .notification.show {
    transform: translateY(0);
    opacity: 1;
  }
  