.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
     rgba(0, 0, 0, 0.75)),
      url(../images/background.jpg);
    background-size: cover;
    background-position: center;
  }

.nav-bar {
    width: 85%;
    margin: auto;
    color: rgb(90, 108, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 55px;
}

.name {
    margin-left: 15px;
    font-size: 27px;
    font-family: Pacifico;
}

a {
    text-decoration: none;
    color:rgb(90, 108, 65);
    font-family: Roboto;
}

.banner ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.banner ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.banner ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: rgb(90, 108, 65);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
  
.banner ul li:hover::after {
    width: 100%;
    
}

.dropdown {
    position: relative;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
    padding: 0;
}

.dropdown-content li {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 35px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 300;
    line-height: 25px;
}

.login-btn,
 .signup-btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fbb262;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
}

.cover {
    background: #fbb262    ;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover .cover {
    width: 100%;
}
  
button:hover {
    border: none;
}
