* {
  font-family: "Poppins", sans-serif;
}
#history-head {
  margin-left: 45%;
  color: orange;
  margin-top: 20px;
}

table {
  margin-left: 15%;
  width: 70%;
}

tr td {
  font-weight: bold;
  font-size: large;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
}
tr th {
  font-weight: bold;
  font-size: large;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
  margin: 0px;
}

tr:nth-child(even) {
  background-color: rgb(129, 208, 232, 0.2);
}
tr:nth-child(odd) {
  background-color: rgb(22, 117, 146, 0.2);
}

td {
  color: rgb(0, 0, 0);
}

#mealImg {
  border-radius: 50%;
  width: fit-content;
  height: 60px;
  padding: 10px;
}

.reOrder,
.review {
  padding: 15px;
  background-color: #f19f13;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}
#history-content {
  margin-top: 70px;
  max-width: 100%;
  padding: 0;
  background-color: #f7f7f7;
}
