@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cuisines {
  padding: 35px;
  margin-left: 240px;
  max-width: 1000px;
  background: #f5f0d6;
  border-radius: 13px;
  overflow-x: hidden;
  position: relative;
}
.dishes {
  padding: 35px;
  margin-left: 240px;
  max-width: 1000px;
  background: #f5f0d6;
  border-radius: 13px;
  overflow-x: hidden;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  display: flex;
  align-items: center;
}

.icon:first-child {
  left: 0;
  height: 100%;
  /* display: none; */
  background: linear-gradient(90deg, #f5f0d6 80%, transparent);
}

.icon:last-child {
  right: 0;
  justify-content: flex-end;
  height: 100%;
  background: linear-gradient(-90deg, #f5f0d6 80%, transparent);
}

.icon i {
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  background: #556d3b;
  cursor: pointer;
  font-size: 1.2rem;
}

.icon i:hover {
  background: #6f8b52;
}

.icon:first-child i {
  margin-left: 15px;
}

.icon:last-child i {
  margin-right: 15px;
}

.tabs-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-left: 100px;
  padding-right: 100px;
  height: 60px;
}
.tabs-bar .tab {
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;
  background: #f5f0d6;
  padding: 13px 20px;
  border-radius: 30px;
  border: 1px solid #556d3b;
}
.tabs-bar .tab.active{
  color: #f5f0d6;
  background: #556d3b;
  border-color: transparent;
}
.title {
  color: #020000;
  font-family: "Poppins", sans-serif;
  padding: 20px 20px;
  margin: 5px 230px;
}
