/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation header styles */
.header {
    background-color: #f3f3f3;
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #8b4513;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* Section styles */
.section-title {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff; /* Text color */
    text-shadow: 4px 4px 0 #333; /* Shadow to create the illusion of depth */
    padding: 20px;
    border-radius: 10px;
}

.sourcing {
    background-image: url("../images/sourcing/sourcingveg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.sourcing-text {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff; /* Text color */
    text-shadow: 4px 4px 0 #333; /* Shadow to create the illusion of depth */
    padding: 20px;
    border-radius: 10px;
}

/* Add new styles for philosophy section */
.philosophy {
    background-color: #81d0e8; /* Set background color */
    padding: 100px 0; /* Adjust padding */
}

.philosophy-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.philosophy-text {
    flex: 1; /* Occupy remaining space */
    margin-right: 20px; /* Add margin between text and icon */
}

.philosophy-icon img {
    max-width: 100px; /* Adjust icon size */
    height: auto; /* Maintain aspect ratio */
}
/* Add styles for products section */
.products {
    background-color: #f3f3f3;
    padding: 100px 0;
}

.product-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.product-button {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-button.active {
    background-color: #f19f13;
    color: white;
}

.product-content {
    display: flex;
    flex-direction: column;
}

.product-info {
    display: none;
}

.product-info.active {
    display: block;
}

.product-info h3 {
    margin-bottom: 10px;
}
.sustainability {
    background-color: #167592; /* Set background color */
    padding: 100px 0; /* Adjust padding */
    text-align: center; /* Center align text */
}

.sustainability-link {
    color: #fff; /* Set text color */
    text-decoration: none; /* Remove default underline */
    font-size: 24px; /* Set font size */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.sustainability-link:hover {
    color: #f19f13; /* Change color on hover */
}
