@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

body {
  margin: 0;
  padding: 0;
  background: #e3f2fd;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.img-div img {
  width: 200px;
  margin-top: 30px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-info,
.address-info,
.card-info,
.password-info {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px 0;
  width: 80%;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.topOfdiv {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
}

.info-container {
  position: relative;
}

.info-container table {
  width: 100%;
}

.info-container td {
  padding: 10px 0;
}
.information {
  padding: 5px;
}
.inputs {
  margin-top: 20px;
  padding: 10px;
}
.edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  background-color: #2e90ad;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.edit-btn:hover {
  background-color: green;
  color: #f7f7f7;
  transition: all 0.2s linear;
}
/******************SIDEBAR******************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #ffffffb4;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #f7f7f7;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .sidebar-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .sidebar-link:hover {
  background-color: #f19f13;
}
.sidebar-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.sidebar-link .link {
  font-size: 16px;
  color: #020000;
  font-weight: 400;
}
.lists .sidebar-link:hover .icon,
.lists .sidebar-link:hover .link {
  color: #f7f7f7;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}
/*************************************************/
.editOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#userEditOverlay .overlay-content {
  width: 600px;
}

#addressEditOverlay .overlay-content {
  width: 300px;
}

#cardEditOverlay .overlay-content {
  width: 350px;
}

.editOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay-content label {
  display: block;
  margin-bottom: 5px;
}

.overlay-content input[type="text"] {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.overlay-content button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.overlay-content button:hover {
  background-color: #0056b3;
}

.overlay-content button:focus {
  outline: none;
}

#warning-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.warning-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
}

.warning-box i {
  font-size: 24px; /* Adjust the font size as needed */
  color: #ff9800; /* Adjust the color as needed */
}
#popupTitle {
  font-size: 24px;
  font-weight: bold;
  color: red;
  background-color: transparent;
  width: fit-content;
  margin-left: 150px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 5px solid red;
  padding: 20px;
  margin-top: 10px;
}

#message {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
}

.confirmingReq,
#cancellingReq {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmingReq {
  background-color: green;
  color: #fff;
}

#cancellingReq {
  background-color: red;
  color: #fff;
}